body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.first,
.second,
.third,
.fourth {
    padding: 30px 100px;
}

.first,
footer {
    background-color: #1f2937;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 125px;
}

.headtext {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    gap: 10px;
    padding-bottom: 40px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    /* padding: 20px;
    margin: 20px; */
    width: 45%;

}

.left {
    width: 45%;
    height: auto;
}

.left p,
.right-links {
    font-size: 18px;
    color: #E4E7E8;
}

.second h2 {
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    overflow: none;
    flex-wrap: wrap;
}

.boxes .imgdiv {
    height: 180px;
    width: 180px;
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    border: 3px solid #3882F6;
}

.boxes p {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 160px;
}

img {
    visibility: hidden;
}

.third {
    background-color: #E5E7EB;
    display: flex; 
}

.thirdcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 90px;
}
.quote {
    display: flex;
    flex-wrap: wrap;
    font-weight: thin;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
 }
 
.fourth {
    display: flex;
    flex-direction: column;
    
}

.callaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    gap: 100px;
    padding: 30px 100px;
    margin: 50px;
    border-radius: 5px;
}

.calltext {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 25px;
}
.calltext h3 {
    display: flex;
    justify-content: left;
    margin: 2px;
}

.calltext p {
    margin: 2px;
}
.buttn {
    display: flex;
    justify-content: right;
}

.buttn button {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
}

.left button {
    color: white;
    background-color: #3882F6;
    border: 0px solid #3882F6;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100px;
}

footer {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 30px;
}
